<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginOrNot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".LightPage" />
        <activity android:name=".CameraPage" />
        <activity android:name=".SensorsPage" />
        <activity android:name=".TemperaturePage" />
        <activity
            android:name=".Custom"
            android:theme="@style/dialog" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>