<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginOrNot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage"
            android:label="Smart Home"/>
        <activity android:name=".LightPage"
            android:label="Lights"/>
        <activity android:name=".CameraPage"
            android:label="Camera"/>
        <activity android:name=".SensorsPage"
            android:label="Sensors"/>
        <activity android:name=".TemperaturePage"
            android:label="ThermoControler"/>
        <activity
            android:name=".Custom"
            android:theme="@style/dialog" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="Welcome to Smart Home"/>
    </application>

</manifest>